*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fa;
    font-family: "Poppins", sans-serif;
    height: 200vh !important;
    overflow-x: hidden;
    scroll-padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
i {
    font-family: "Roboto", sans-serif;
}

.main_container {
    max-width: 1220px;
    margin: 0 auto;

    @media (max-width: 1220px) {
        padding: 0 2vw;
        margin: 0;
    }
}

button:focus {
    outline: none;
}

.primary_btn {
    border: none;
    outline: none;
    background: $primary_color;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
        background: $primary_hover_color;
        color: white;
    }

    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }

    @media (max-width: 680px) {
        padding: 3px 10px;
        font-size: 15px;
    }
}

.primary_outline_btn {
    border: 1px solid $primary_color;
    outline: none;
    background: $white;
    color: $primary_color;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
        background: $primary_color;
        color: white;
    }

    @media (max-width: 680px) {
        padding: 3px 10px;
        font-size: 15px;
    }
}

a:hover {
    text-decoration: none;
}

.background_white {
    background-color: $white;
    padding: 10px;
    box-shadow: $box_shadow;
    border-radius: 5px;
    margin: 0 1vw;
}


//thirt party library
.react-tel-input .form-control {
    background-color: white !important;
    border: 1px solid #e0e0e0 !important;
}