$primary_color:#28A745;
$primary_hover_color:#218f3b;
$light_gray:#F7F8FA;
$light_gray_2:#5a6577;
$dark_gray:#333333;
$white:#FFF;
$separator:#e6e8eb;
$border_light:#e0e0e0;

$box_shadow:1px 1px 5px rgba(0, 0, 0, 0.1);